

 <% if current_user && current_user.admin? %> 

<div class="container">
<div class="row g-3 align-items-center">
<%= form_tag(users_search_path, method: :get) do %>
  Search <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %> 
  Filter
  <%= link_to  '<button type="button">Male</button>'.html_safe,  users_filter_path(gender:'Male')%>
  <%= link_to '<button type="button">Female</button>'.html_safe,   users_filter_path(gender:'Female')%>

</div>
<br/>
<% end %>
<%= render 'dashboard' %>
<br/>

<br />
<%= link_to '<button type="button">users information as Excel </button>'.html_safe, users_path(format: :xlsx) %>
<br/>
<%= will_paginate @users %>
</div>
<% end %>